// Text display in the main
.jumbotron p{
	background-image:url('img/backing.png');
	padding: 2%;
	font-size: 18px;
	display: block;
}

.jumbotron h1{
	background-image:url('img/backing.png');
	display: block;
}

.titler h1{
	background-image:url('img/backing.png');
	font-family: 'Shift', sans-serif;
	text-align: center !important;
}
.intro p{
	font-family: 'Shift', sans-serif;
	text-align: center !important;
	background-image:url('img/backing.png');
}

.jumbotron{

	font-family: 'Shift', sans-serif;
	text-align: center !important;
	background-image:url('img/dots2.gif');
	margin-right: 150px;
    margin-left: 150px;
}

.blankSpace{
	background-image:url('img/backing.png');
}

// Centers the images and keeps them together
.jumbotron img{
	display: inline;}

// Separate backing colour for the navigation bar
.nav{
	background-image: url('img/sandpaper.png');}
// Separates the different tabs evenly
.nav p{
	font-weight: bold;
	padding: 7.5%;
	font-size: 20px;
	display: inline;}

// Removes the hyperlink discolouring from the navigation bar
.nav a{
	text-decoration: none !important;
	color: black;}

.purpose{
	text-align: center !important;}
	
.hitme{
	background-image:url('img/backing.png');
	font-size: 30px;}

.hitme h1{
	text-align: center !important;}

.points img{
	float:right;}
	
.projectsEven img{
	float:right;}

.projectsEven{
	font-size: 20px;
	text-align: center !important;}

.projectsOdd{
	font-size: 20px;
	text-align: center !important;}
	
.projectsOdd img{
	position: relative;
	float:left;
	display: inline;}

.social img{
	padding-top: 4%;
	padding-right: 11%;
	padding-left: 11%;
	display:inline;}

.points{ position: relative }
.element{ width: 33%; float: left }

.centerIt{
	text-align: center !important;}

.biog img{
	float:left;
	padding-right:4%;}

.biog {
	font-size: 23px;
	background-image:url('img/backing.png');}

.gamesf{
	font-size: 25px;
}

.gamesf a{
	text-decoration: none !important;
	color: black;}
/* Contact Form Styling */
#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

/* End of contact form styling */

// To create margins centering the content
.formattings {
	 margin-top: 15px;
     margin-bottom: 100px;
     margin-right: 150px;
     margin-left: 80px;
}

body{
	background-image: url('img/splash.png');}
