// Beginning of the screen formatting 
.jumbotron p{
	padding: 2%;}

// Centers the text and gives the main intro a soft backing
.jumbotron{
	font-family: 'Shift', sans-serif;
	background-image:url('img/backing.png');
	text-align: center !important;}

// Centers the images and keeps them together
.jumbotron img{
	display: inline;}

// Separate backing colour for the navigation bar
.nav{
	background-image: url('img/sandpaper.png');}
// Separates the different tabs evenly
.nav p{
	font-weight: bold;
	padding: 7.5%;
	font-size: 20px;
	display: inline;}

// Removes the hyperlink discolouring from the navigation bar
.nav a{
	text-decoration: none !important;
	color: black;}

.purpose{
	text-align: center !important;}
	
.hitme{
	background-image:url('img/backing.png');
	font-size: 30px;}

.hitme h1{
	text-align: center !important;}

.points img{
	float:right;}
	
.projectsEven img{
	float:right;}

.projectsEven{
	font-size: 20px;
	text-align: center !important;}

.projectsOdd{
	font-size: 20px;
	text-align: center !important;}
	
.projectsOdd img{
	position: relative;
	float:left;
	display: inline;}

.social img{
	padding-top: 4%;
	padding-right: 11%;
	padding-left: 11%;
	display:inline;}

.points{ position: relative }
.element{ width: 33%; float: left }

.centerIt{
	text-align: center !important;}

.biog img{
	float:left;
	padding-right:4%;}

.biog {
	font-size: 23px;
	background-image:url('img/backing.png');}

.gamesf{
	font-size: 25px;
}

.gamesf a{
	text-decoration: none !important;
	color: black;}

// To create margins centering the content
.formattings {
	 margin-top: 15px;
     margin-bottom: 100px;
     margin-right: 150px;
     margin-left: 80px;
}

body{
	background-image: url('img/splash.png');}
